
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');



th{
    margin: 20px;
}
th{
    padding: 30px;
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-size:14px;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.98rem;
    user-select:none;
    overflow-x:hidden;
    background: rgb(211, 239, 241);
    color: dark;
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}
a{
    color: "dark";
}
button{
    color: "dark";
    background: none;
}
img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
    font-weight: 600;
}

h3{
    font-size: 0.87rem;
}
h5{
    font-size: 0.77rem;
}
small{
    font-size: 0.75rem;
}

.profile-photo{
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    overflow: hidden;
    
    
    box-shadow: 0rem 1rem 1rem rgb(147, 237, 240);
}


.text-muted {
    color: rgb(143, 144, 145);
}
.logo-name{
    color:rgb(46, 46, 156);
}
p{
    color: blue;
}
b{
    color: dark;
}
.primary{
    color: rgb(61, 61, 126);
}
.danger{
    color: rgb(139, 77, 238);
}
.success{
    color: green;
}
.warning{
    color:rgb(8, 12, 252);
}
.dark{
    color: black;
}
aside{
    height: 100vh;
    
}

aside .top{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}
aside .logo{
    display: flex;
    gap: 0.8;
    
}  
aside .logo img{
    width: 6rem;
    height: 1.8rem;
    
}
aside .close{
    display: none;
}

/* ======= side bar =======*/
aside .sidebar{
    background:white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}
aside h3{
    font-weight: 500;
}
aside .sidebar .option{
    display: flex;
    color: darkblue;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}
aside .sidebar .option span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}
aside .sidebar option.active{
    background: rgb(147, 237, 240);
    color:  darkblue;
    margin-left: 0;
}
aside .sidebar option.active:before{
    content: '';
    width: 6px;
    height: 100%;
    background: darkblue;
}
aside .sidebar option.active span{
    color: darkblue;
    margin-left: calc(1rem-3px);
}
aside .sidebar .option:hover {
    
    background: rgb(147, 237, 240);
    color:  darkblue;
    margin-left: 0;

}

aside .sidebar option:hover span{
    margin-left: 1rem;
}


aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

/* ============================ MAIN ============================*/
main{
    margin-top:1.4rem;
}
main .form-hide{
    display: none;
}
.reservations-header h2{
  
    
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
main .search {
    position: relative;
    left: 550px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .search input{
    font-size: 15px;
    border-radius: 10px;
    height: 2rem;
    width: auto;
    padding: 1.5rem
}
main .search span{
    font-size: 28px;
    padding: 0.2rem;
    margin-top: 0.2rem;
    
}


main .date input[type="date"]{
    background: transparent;
    color: black
}

main .insights{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:1.6rem;
}

main .insights > div{
    background: rgb(250, 250, 250);
    padding:1.8rem; 
    border-radius: 1.8rem;
    margin-top: 1rem;
    box-shadow: 0 2rem 3rem rgb(147, 237, 240);
    transition: all 300ms ease;
    border-radius: 7px;
    width: 450px;
    flex-direction: column;
    height: auto;
    position: relative;
    
}

main .insights > div:hover{
    box-shadow: none;
}
main .insights > div span{
    background: rgb(148, 100, 236);
    padding: 0.5rem;
    border-radius:50%;
    color: white;
}
main .insights > div.sales .progress-sales span{
    background: rgb(148, 100, 236);
    font-size: 40px;
}
main .insights > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
main .form{
    background: rgb(255, 255, 255);
    width: auto;
    height: 20px;
    border-radius: 5px;
    border: solid 0.2px rgb(141, 143, 143)
}
main .submit{
    background: rgb(255, 255, 255);
    width: 70px;
    height: 20px;
    border-radius: 15px;
}
main .submit:hover{
    background: rgb(147, 237, 240);
    transition: all 300ms ease;
}


main .insights h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .middle{
    position: relative;
    width: auto;
    height: auto;
    border-radius: 50%;
    
}
main .insights .add-reservation a{
    display: flex;
    align-items: center;
    height: 3.7rem;
    transition: all 800ms ease;
}

main .insights .add-reservation a:hover span{
        font-size: 35px;
        transition: all 400ms ease;
}

main .insights .progress-sales p{
    color: rgb(5, 196, 132);
}

main .insights small{
    margin-top: 1.3rem;
    display: block;
}
main .orders{
    margin-top: 2rem;
}
main .orders h2{
    margin-bottom: 0.8rem;
}
main .orders table{
    font-size: 15px;
    margin: 2rem;
    background: white;
    width: 100%;
    border-radius: 2rem;
    padding: 1.8rem;
    text-align: center;
    box-shadow: 0 2rem 3rem rgb(147, 237, 240);
    transition: all 300ms ease;
}

main .orders table:hover{
    box-shadow: none;
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid lightblue;
    color: blue;
}
main table tbody tr:last-child td{
    border: none
}
main .orders a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: darkblue
}
main .light{
    font-weight: 400;
}


.right{
    margin-top: 1.4rem;
}

.right .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
    
}
.right .top button{
    display: none;
}

.right .theme-toggler{
    background: rgb(204, 204, 203);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: 0.4rem;
}
.right .theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right .theme-toggler span.active{
    background: rgb(100, 100, 240);
    color: white;
    border-radius: 0.4rem;
}
.right .profile .info p{
    color: black;
    
}
.show-all{
    text-align: center;
    position: relative;
    left: 450px;
    
}

@media screen and (max-width: 1200px){
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }
    aside .logo h2{
        display: none;
    }
    aside .sidebar h3{
        display: none;
    }
    aside .sidebar button{
        width: 5.6rem;
    }
    aside .sidebar button:last-child{
        position: relative;
        margin-top: 1.8rem;
    }
    main .insights{
        grid-template-columns: 1fr;
        gap: 0;
    }
    main .orders{
        width: 94%;
        position: relative;
        left:50%;
        transform: translateX(-50%);
    }
}


